Results_priming/Archive
Results_priming/Archive.zip
Results_priming/features
Results_priming/lots
Results_word_activation_and_recognition/embeddingstest.h5
data/fragmenten_samen
data/models/
data/labels/
data/flickr8.dict.txt
data/caption_model.32
data/image_model.32
data/image_model.32
data/caption_model.32
Words_and_Phonemes_MFCC/mfcc
Text-to-speech_MFCC/Flickr8kWordsMP3
Text-to-speech_MFCC/Flickr8kWordsWAV
notebooks/49words
notebooks/output_file
notebooks/phonemes
notebooks/phonemes49words
notebooks/test
notebooks/testwords
Results_word_activation_and_recognition/phonemedata.csv
Results_word_activation_and_recognition/flickr_output.csv
Results_word_activation_and_recognition/wordembeddings
data/flickr_features_resnetnormal_final.h5
notebooks/49words_primes/
notebooks/49words_targets/
notebooks/Archive.zip
notebooks/phonemesreverse49words/
notebooks/phonemestesttest49words/
