data/fragmenten_samen
data/models/
data/labels/
data/flickr8.dict.txt
data/caption_model.32
data/image_model.32
data/image_model.32
data/caption_model.32
Generating_Flickrwords_mfcc/mfcc
Generating_TTS_Flickrwords/Flickr8kWordsMP3
Generating_TTS_Flickrwords/Flickr8kWordsWAV
notebooks/49words
notebooks/output_file
notebooks/phonemes
notebooks/phonemes49words
notebooks/test
notebooks/testwords
Results_isolated_word_recognition/phonemedata.csv
Results_isolated_word_recognition/flickr_output.h5
